# Maven
target/

# Maven Shade Added Files
dependency-reduced-pom.xml

# IDEA
.idea

# Eclipse
.settings/
.project
.classpath

# Visual Studio Code
.vscode/

# CSV files
data.csv

# Temporary files
old-src/
